*, html {
    margin: 0px;
    padding: 0px;
}

header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

p{
    color: white;
}

ul li{
    display: inline-block;
}

a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}